<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-10">
      <h2 class="text-3xl font-bold">PHIM ĐANG CHIẾU</h2>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
      <!-- Movie -->
      <div
        *ngFor="let movie of movies"
        class="movie-card bg-darker rounded-lg overflow-hidden border border-gray-800"
        [routerLink]="['/movies', movie.id]"
      >
        <div class="relative">
          <img
            [src]="movie.imageUrl"
            alt="Movie Poster"
            class="w-full h-80 object-cover"
          />
          <div
            class="absolute top-2 right-2 bg-primary text-white text-xs font-bold px-2 py-1 rounded"
          >
            {{ movie.imDbScore }}
          </div>
        </div>
        <div class="p-4">
          <h3 class="font-bold text-lg mb-2">{{ movie.name }}</h3>
          <p class="text-gray-400 text-sm mb-4">
            {{ formatMinuteToHour(movie.duration) }}
          </p>
          <button
            class="w-full bg-primary hover:bg-red-700 text-white py-2 rounded-md text-sm font-medium transition"
          >
            Đặt vé
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
