<section class="carousel h-screen max-h-[800px]" #carousel>
  <div class="carousel-inner" #carouselInner>
    <div class="carousel-item" *ngFor="let banner of banners; let i = index">
      <img [src]="banner.imageUrl" alt="banner image" />
      <div class="gradient-overlay w-full flex items-center h-full">
        <div class="container mx-auto px-10">
          <div class="max-w-2xl">
            <span class="text-primary font-medium">{{
              banner.bannerType == "Movie" ? "PHIM ĐANG HOT" : "TIN MỚI"
            }}</span>
            <h1 class="text-5xl md:text-6xl font-bold my-4">
              {{
                banner.bannerType == "Movie"
                  ? banner.film.name
                  : banner.news.title
              }}
            </h1>
            <div
              *ngIf="banner.bannerType == 'Movie'"
              class="flex items-center space-x-4 mb-6"
            >
              <span class="text-primary">
                <fa-icon [icon]="faStar" class="mr-1"></fa-icon>
                {{ banner.film.imDbScore }}/10
              </span>
              <span>{{ formatMinuteToHour(banner.film.duration) }}</span>
              <span></span>
            </div>
            <div class="flex space-x-4">
              <button
                class="bg-primary hover:bg-red-700 px-6 py-3 rounded-md font-medium flex items-center"
              >
                <fa-icon
                  [icon]="
                    banner.bannerType == 'Movie' ? faTicketAlt : faNewspaper
                  "
                  class="mr-2"
                ></fa-icon>
                {{ banner.bannerType == "Movie" ? "Đặt vé ngay" : "Xem ngay" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <button
    title="previous slide"
    class="carousel-nav prev"
    (click)="prevSlide()"
  >
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <button title="next slide" class="carousel-nav next" (click)="nextSlide()">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>

  <!-- Dots -->
  <div class="carousel-dots">
    <div
      class="carousel-dot"
      *ngFor="let banner of banners; let i = index"
      [class.active]="currentIndex === i"
      (click)="goToSlide(i)"
    ></div>
  </div>
</section>
